#listDetail {
    display: none;
}

body {
    background: linear-gradient(to right, #000000, #434343);
    font-family: 'Orbitron', sans-serif;
}

main.frontPage,
main {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4, 1fr);
}

main {
    grid-template-columns: 1fr;
}

ol {
    place-self: center;
    color: rgba(59, 118, 160, 0.97);
    grid-column: 1/-1;
}

li {
    margin-bottom: 1em;
}

h1,
.frontPage__headline {
    -webkit-text-stroke: 1px yellow;
    font-size: 5vw;
    place-self: center;
    grid-column: 1/-1;
}

.frontPage__headline {
    font-size: 8vw;
}

a {
    color: yellow;
    text-decoration: none;
}

.details {
    color: rgba(59, 118, 160, 0.97);
    list-style: none;
}

#personDetails {
    margin: 0 auto;
    background: linear-gradient(to right, #233530, #434343);
    box-shadow: -1px 15px 30px -12px black;
    padding: 4em;
    border-radius: 20px;
    height: 50vh;
    border: 5px solid black;
    display: grid;
}

li span {
    color: yellow;
}

.nextLink {
    place-self: center;
    grid-column: 3;
}

.prevLink {
    place-self: center;
    grid-column: 2;
}


/* ──────────────────────────────────────────────────────────────────────────────── */


/* ───────────DEATH STAR───────────────────────────────────────────────────────────────────── */

.deathStar {
    left: 50px;
    top: 20px;
    background: #323232;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    overflow: hidden;
    animation: spin 2s linear infinite;
    place-self: center;
    grid-column: 1/-1;
}

.deathStar:before {
    content: "";
    position: absolute;
    background: #3b3b3b;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    left: 6px;
    top: -6px;
}

.circle {
    background: #212121;
    position: relative;
    top: 23px;
    left: 80px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.trait {
    background: #212121;
    position: relative;
    top: 40px;
    width: 100%;
    height: 3px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}